::ng-deep .ant-table-thead > tr> th {
    color: #727A90;
    font-size: 12px;
    font-weight: bold;
}

::ng-deep .ant-table-tbody > tr> td {
    font-size: 13px;
    font-weight: 500;
}

::ng-deep .ant-table-thead > tr > th {
  background-color: #F8FAFC !important;
}

.search-wrapper:focus-within {
  border-color: #3b82f6; 
  box-shadow: 0 0 0 2px rgba(59,130,246,0.3); 
}

// .action-menu {
//     position: fixed;
//     transform: translate(10px, -50%);
// }

// tr {
//     position: relative;
// }

.action-menu {
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translateY(-50%);
}